body {
    background: #ffffff;
    color:rgb(0, 0, 0) 
}

section, header {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

section, header {
    margin-bottom: 4rem;

}

h1, h2, blockquote {
      font-family: "Playfair Display", serif;
}

section, header{
    font-family: "Noto Sans", sans-serif;;
}

header, blockquote {
          color: #735E47;
}

strong {
          color: #8f6d49;
          font-size: 1.562rem;
}

header h1 {
    font-size: 4.768rem;
    line-height: 1;
}

header h2{
    font-size: 1.953rem;
    font-style:oblique
}

header p{
    font-size: 1.562rem;
}

blockquote{
    font-size: 1.562rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.45rem;
}

/*-- styling hyperlinks --*/

a {
    color: #735E47;
    text-decoration: none;
    border-bottom: 1px dotted;
    font-weight: 600;
}

a:hover {
    color: #4b341a;
}

/*-- Navigation --*/
.responsivenav {
    background: #859c7a;
    padding: 10px;

}


#logo {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    padding: 50px
}

nav{
    display: flex;
    padding: 1.5rem 0;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 70px;
}

nav ul li{
    display: inline;
    margin: 5px;
}


nav a{
    border-bottom: none;
    color:#000000;
    padding: 10px;   
}

nav a:hover {
    transition: all 0.3s ease-in-out;
}

/*-- Styling the footer --*/

footer {
    background-color: #5c6b54;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    padding: 4rem 0;
}

footer a {
    color: #cee4c5
}